@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');


* {
  font-family: 'Jost', sans-serif;
 
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  background-color: #A1B8CA;
  text-transform: uppercase;
}

.navlink {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(202, 214, 169);
 
}

.categories {
  display: flex;
  justify-content: space-around;
  width: 500px;
}

img { 
  height: 10vh;
  width: 5vw;
  border-radius: 15%;
}

.home > h2 {
  font-size: 30px;
  padding: 30px 0px 20px 0px;
}

h2 {
  text-align: center;
}

.users-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin: 0px 40px 0px 40px;
  text-align: center;
  font-size: 16px;
}

.collapsible {
  background-color: #A1B8CA;
  border: 1px solid black;
  border-radius: 10px;
  color: rgb(20, 75, 20);
  cursor: pointer;
  padding: 18px;
  margin: 1px;
  width: 100%;
  text-align: left;
  font-size: 20px;
  
}

.active, .collapsible:hover {
  background-color: rgb(213, 231, 156);

}


.element-visible { 
  display: block;

}
            
.element-hidden { 
  display: none;

}

p {
  margin-left: 20px;
}

.read {
  text-align: center;
  
}

.topics {
  text-transform: uppercase;
  padding: 20px;
  
}

#news {
  padding: 100%;
  background-image: url("../public/worldnews.png");
  background-repeat: no-repeat;
  background-size: 50%;
  
}

.article {
  background-color: rgb(226, 239, 226);
  border-radius: 10px;
}

.displayArticle {
  border: 1px solid black;
  background-color: beige;
}